@charset "utf-8";
.container {
    margin: 30px;
    border: solid 1px orange;
    padding: 10px;
}
.box1 {
    width: 100px;
    height: 100px;
    background: blue;
	position: fixed;
}

.box2 {
    width: 100px;
    height: 100px;
    background: green;
    border: yellow solid;
    position: relative;
    left: 20px;
    top:  20px;
}

.box3 {
    width: 100px;
    height: 100px;
    background: red;
}

.box4 {
    width: 100px;
    height: 100px;
    background: blueviolet;
}

